/*----- fonts ----*/
@font-face {
    font-family: aBeeZee;
    src: url("../fonts/ABeeZee-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf") format("truetype");
}

@font-face{
    font-family: Sansation;
    src: url("../fonts/sansation.ttf") format("truetype");
}
/*----- all styles ----*/
html {
    background: #131218;
}

span, p{
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

a, button{
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.container-big {
    width: 1220px;
    margin: auto;
}

.container-mid {
    width: 1120px;
    margin: auto;
}

.container-small {
    width: 1014px;
    margin: auto;
}

/*----- header ----*/

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header_top {
    height: 55px;
    padding: 10px;
    border-bottom: 1px solid #242424;
}

.header_top-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_top_city {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
}

.header_top_city span {
    color: rgba(255, 255, 255, 0.13);
}

.header_top_city p {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.header_top_social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_top_social a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border: 1px solid #131218;
}

.header_top_social a:last-child {
    margin-right: 0;
}

.header_top_social a:hover {
    border: 1px solid #D87700;
    border-radius: 7px;
    transition: ease all .2s;
}

.header_top_contacts {
    display: flex;
    flex-direction: row;
    width: 350px;
}

.header_top_contacts_phone {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.header_top_contacts_phone a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
}

.header_top_contacts_phone a img {
    margin-right: 10px;
}

.header_top_contacts_timework {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.header_top_contacts_timework span {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

/*_______________________________________________________________________________________*/

.header-main-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_main_search {
    color: #FFFFFF;
}

.header_main_search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 30px;
}

.header_main_search input {
    margin-left: 10px;
    border: none;
    background: #131218;
    color: white;
    cursor: pointer;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.header_main_navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header_main_img {
    display: block;
    margin: 0 auto;
}

.header_main_nav a {
    display: block;
    float: left;
    margin-left: 7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #000;
}

.header_main_nav_anchor:hover {
    color: orange;
    border-bottom: 2px solid orange;
}


.header_main_favorites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;

}

.header_main_basket {
    margin-left: 15px;
}

.header_main_basket:hover, .header_main_likes:hover {
    border: 2px solid #D87700;
    border-radius: 7px;
    transition: ease all .2s;
}

/*___________________________________ header_slider ___*/

.header_slider {
    width: inherit;
    margin-top: 20px;
}

.header_slider_container {
    position: relative;
    min-width: 0;
}

/*-------------------------------------------------- slider ------------------------------*/

.slider-item {
    position: relative;
}

/*.slider-item-1 {
    background: url(../img/header/header_slider/img_1.jpg) center center/cover no-repeat;
}

.slider-item-2 {
    background: url(../img/header/header_slider/img_2.jpg) center center/cover no-repeat;
}

.slider-item-3 {
    background: url(../img/header/header_slider/img_3.jpg) center center/cover no-repeat;
}

.slider-item-4 {
    background: url(../img/header/header_slider/img_4.jpg) center center/cover no-repeat;
}
*/
.slider-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    height: 250px;
}

.slider-item-text .slider-item-text-title {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
}

.slider-item-text .slider-item-text-type {
    font-size: 22px;
    color: #fff;
}

.slider-item-text .slider-item-text-descr {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    opacity: 0.65;
}

.slider-item-text-center span{
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    opacity: 0.65;
}

.slider-item .slider-item-text-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background: rgba(216, 119, 0, 0.74);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.slider-item .slider-item-text-link-kostil{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 51%;
    top: 80%;
    width: 200px;
    height: 45px;
    background: rgba(216, 119, 0, 0.74);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.slider-item .slider-item-text-link:hover{
    background: #fff;
    color: #000;
    transition: ease all .3s;
    opacity: .65;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.header_slider_container .slick-arrow {
    position: absolute;
    width: 50px;
    height: 70px;
    top: 50%;
    margin-top: -25px;
    z-index: 15;
    font-size: 0;
    border: none;
}

.header_slider_container .slick-arrow.slick-prev {
    left: 180px;
    background: url("../img/header/header_slider/leftarrow.svg") 0 0 / 100% no-repeat;
}

.header_slider_container .slick-arrow.slick-next {
    right: 180px;
    background: url("../img/header/header_slider/rightarrow.svg") 0 0 / 100% no-repeat;
}
/*-------------------------main-------------------------*/

.main_assortment{
    display: flex;
    flex-direction: column;
}

.main_assortment_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1014px;
    height: 620px;
    margin-top: 150px;
    justify-content: space-between;
}

.main_assortment_menu_item_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 10px;
    background: url("../img/main/menu/guitar.png") center center / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    color: #fff;
}
.main_assortment_menu_item_2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;          
    margin: 10px;
    background: url("../img/main/menu/ukulele.png") center center / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    color: #fff;
}
.main_assortment_menu_item_3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 10px;
    background: url("../img/main/menu/accessories.png") center center / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    color: #fff;
}
.main_assortment_menu_item_4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 10px;
    background: url("../img/main/menu/strings.jpg") center center / cover no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    color: #fff;
}

.main_assortment_logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: orange;
}
.main_assortment_logo_img{
    margin: 10px;
}





